body {
  overflow: hidden;
}
.container {
  display: flex;
  height: 100vh;
  background-color: aquamarine;
  margin-right: 10px;
  overflow-x: auto;
}
.card-container {
  overflow-y: auto;
  flex: 0 0 100px;
}
.card {
  --vertical-padding: 12px;
  background-color: antiquewhite;
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
  margin-left: 12px;
  text-align: center;
  margin-bottom: 2px;
}
.heading {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 12px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: gray;
  border-radius: 16px;
}
