body {
  overflow: hidden;
}

.container {
  background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/a65af50752dfb827968973b8d1fb23b6/photo-1673448173957-426fa31b490a.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  gap: 10px;
  margin-right: 10px;
  overflow-x: auto;
}
.card-container {
  overflow-y: auto;
  flex: 0 0 100px;
  height: max-content;
  background-color: rgb(243, 243, 243);
}
.card {
  --vertical-padding: 12px;
  background-color: antiquewhite;
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
  text-align: center;
  margin-top: 10px;
}
.heading {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 12px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: gray;
  border-radius: 16px;
}
